### The distance from Lagos to other cities in Nigeria

- Data - worldcities data (Basic) https://simplemaps.com/data/world-cities
- Using: `Geopy` to calculate the geodesic distance between coordinates. https://geopy.readthedocs.io/en/stable/#module-geopy.distance and
- `Pandas` to work with the data

In [23]:
import os
import pandas as pd
from geopy import distance

In [24]:
# data directory

input_dir = 'data'
input_filename = 'worldcities.csv'
input_path = os.path.join(input_dir, input_filename)

In [25]:
# Read the data (explore its structure)

input_df = pd.read_csv(input_path)
input_df

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6870,139.7495,Japan,JP,JPN,Tōkyō,primary,37785000.0,1392685764
1,Jakarta,Jakarta,-6.1750,106.8275,Indonesia,ID,IDN,Jakarta,primary,33756000.0,1360771077
2,Delhi,Delhi,28.6100,77.2300,India,IN,IND,Delhi,admin,32226000.0,1356872604
3,Guangzhou,Guangzhou,23.1300,113.2600,China,CN,CHN,Guangdong,admin,26940000.0,1156237133
4,Mumbai,Mumbai,19.0761,72.8775,India,IN,IND,Mahārāshtra,admin,24973000.0,1356226629
...,...,...,...,...,...,...,...,...,...,...,...
48054,Al Jabīn,Al Jabin,14.7040,43.5990,Yemen,YE,YEM,Raymah,admin,NaN,1887910100
48055,Nelspruit,Nelspruit,-25.4745,30.9703,South Africa,ZA,ZAF,Mpumalanga,admin,NaN,1710114438
48056,Gqeberha,Gqeberha,-33.9681,25.5981,South Africa,ZA,ZAF,Eastern Cape,NaN,NaN,1710000082
48057,Lupane,Lupane,-18.9315,27.8070,Zimbabwe,ZW,ZWE,Matabeleland North,admin,NaN,1716206606
48058,Charlotte Amalie,Charlotte Amalie,18.3420,-64.9331,U.S. Virgin Islands,VI,VIR,Virgin Islands,primary,NaN,1850037473

- ##### Task: find the distance from Lagos (a city in Nigeria) to other cities in Nigeria
- ##### Steps:
1. Find the coordinates of Lagos
2. Find the coordinates of the other cities and
3. Calculate the distance between Lagos and the cities
4. Write the result to a file/print the result

In [26]:
country = 'Nigeria'
city = 'Lagos'

In [27]:
# data on Nigeria alone
nigeria = input_df[input_df['country'] == country].copy()
nigeria

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
20,Lagos,Lagos,6.4550,3.3841,Nigeria,NG,NGA,Lagos,minor,16637000.0,1566593751
168,Kano,Kano,12.0000,8.5167,Nigeria,NG,NGA,Kano,admin,4224966.0,1566422868
196,Abuja,Abuja,9.0667,7.4833,Nigeria,NG,NGA,Federal Capital Territory,primary,3770000.0,1566342270
216,Ibadan,Ibadan,7.3964,3.9167,Nigeria,NG,NGA,Oyo,admin,3552000.0,1566366407
384,Awka,Awka,6.2069,7.0678,Nigeria,NG,NGA,Anambra,admin,2171900.0,1566560581
...,...,...,...,...,...,...,...,...,...,...,...
43560,Orlu,Orlu,5.7837,7.0333,Nigeria,NG,NGA,Imo,minor,9351.0,1566062510
47929,Abakaliki,Abakaliki,6.3249,8.1137,Nigeria,NG,NGA,Ebonyi,admin,NaN,1566879878
47930,Yenagoa,Yenagoa,4.9267,6.2676,Nigeria,NG,NGA,Bayelsa,admin,NaN,1566468984
47931,Gombe,Gombe,10.2904,11.1700,Nigeria,NG,NGA,Gombe,admin,NaN,1566855445
47932,Isemi-Ile,Isemi-Ile,7.9700,3.5900,Nigeria,NG,NGA,Oyo,NaN,NaN,1566369938

In [28]:
lagos = nigeria[nigeria['city_ascii'] == city]
lagos

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
20,Lagos,Lagos,6.455,3.3841,Nigeria,NG,NGA,Lagos,minor,16637000.0,1566593751

In [29]:
# coordinates of Lagos
city_coordinates = lagos.iloc[0]['lat'], nigeria.iloc[0]['lng']
print(city_coordinates)

(6.455, 3.3841)

In [30]:
# the coordinates of the other cities and their distance
def calculate_coordinates_distance(row):
    other_cities_coordinates = row['lat'], row['lng']
    return distance.geodesic(city_coordinates, other_cities_coordinates).km

result = nigeria.apply(calculate_coordinates_distance, axis = 1)
result

20         0.000000
168      833.050098
196      536.513245
216      119.595830
384      408.504658
            ...
43560    410.689939
47929    523.443284
47930    361.365643
47931    956.559116
47932    169.082752
Length: 134, dtype: float64

In [31]:
# add the result to a new column

nigeria['distance_from_lagos (km)'] = result
nigeria

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id,distance_from_lagos (km)
20,Lagos,Lagos,6.4550,3.3841,Nigeria,NG,NGA,Lagos,minor,16637000.0,1566593751,0.000000
168,Kano,Kano,12.0000,8.5167,Nigeria,NG,NGA,Kano,admin,4224966.0,1566422868,833.050098
196,Abuja,Abuja,9.0667,7.4833,Nigeria,NG,NGA,Federal Capital Territory,primary,3770000.0,1566342270,536.513245
216,Ibadan,Ibadan,7.3964,3.9167,Nigeria,NG,NGA,Oyo,admin,3552000.0,1566366407,119.595830
384,Awka,Awka,6.2069,7.0678,Nigeria,NG,NGA,Anambra,admin,2171900.0,1566560581,408.504658
...,...,...,...,...,...,...,...,...,...,...,...,...
43560,Orlu,Orlu,5.7837,7.0333,Nigeria,NG,NGA,Imo,minor,9351.0,1566062510,410.689939
47929,Abakaliki,Abakaliki,6.3249,8.1137,Nigeria,NG,NGA,Ebonyi,admin,NaN,1566879878,523.443284
47930,Yenagoa,Yenagoa,4.9267,6.2676,Nigeria,NG,NGA,Bayelsa,admin,NaN,1566468984,361.365643
47931,Gombe,Gombe,10.2904,11.1700,Nigeria,NG,NGA,Gombe,admin,NaN,1566855445,956.559116
47932,Isemi-Ile,Isemi-Ile,7.9700,3.5900,Nigeria,NG,NGA,Oyo,NaN,NaN,1566369938,169.082752

In [32]:
#excludes ths starting point (Lagos)
without_lagos = nigeria[nigeria['city_ascii'] != city].copy()
without_lagos

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id,distance_from_lagos (km)
168,Kano,Kano,12.0000,8.5167,Nigeria,NG,NGA,Kano,admin,4224966.0,1566422868,833.050098
196,Abuja,Abuja,9.0667,7.4833,Nigeria,NG,NGA,Federal Capital Territory,primary,3770000.0,1566342270,536.513245
216,Ibadan,Ibadan,7.3964,3.9167,Nigeria,NG,NGA,Oyo,admin,3552000.0,1566366407,119.595830
384,Awka,Awka,6.2069,7.0678,Nigeria,NG,NGA,Anambra,admin,2171900.0,1566560581,408.504658
433,Port Harcourt,Port Harcourt,4.8242,7.0336,Nigeria,NG,NGA,Rivers,admin,1865000.0,1566070649,442.691454
...,...,...,...,...,...,...,...,...,...,...,...,...
43560,Orlu,Orlu,5.7837,7.0333,Nigeria,NG,NGA,Imo,minor,9351.0,1566062510,410.689939
47929,Abakaliki,Abakaliki,6.3249,8.1137,Nigeria,NG,NGA,Ebonyi,admin,NaN,1566879878,523.443284
47930,Yenagoa,Yenagoa,4.9267,6.2676,Nigeria,NG,NGA,Bayelsa,admin,NaN,1566468984,361.365643
47931,Gombe,Gombe,10.2904,11.1700,Nigeria,NG,NGA,Gombe,admin,NaN,1566855445,956.559116
47932,Isemi-Ile,Isemi-Ile,7.9700,3.5900,Nigeria,NG,NGA,Oyo,NaN,NaN,1566369938,169.082752

In [43]:
#cities, their state and their distance only
cities_distance_from_lagos = without_lagos[['city_ascii', 'admin_name', 'distance_from_lagos (km)']]
cities_distance_from_lagos

          city_ascii                 admin_name  distance_from_lagos (km)
168             Kano                       Kano                833.050098
196            Abuja  Federal Capital Territory                536.513245
216           Ibadan                        Oyo                119.595830
384             Awka                    Anambra                408.504658
433    Port Harcourt                     Rivers                442.691454
...              ...                        ...                       ...
43560           Orlu                        Imo                410.689939
47929      Abakaliki                     Ebonyi                523.443284
47930        Yenagoa                    Bayelsa                361.365643
47931          Gombe                      Gombe                956.559116
47932      Isemi-Ile                        Oyo                169.082752

[133 rows x 3 columns]

In [44]:
#rename 'city_ascii' to 'city' and 'admin_name' to 'state' for clarity
cities_distance_from_lagos = cities_distance_from_lagos.rename(columns = {'city_ascii' : 'city', 'admin_name' : 'state'})
cities_distance_from_lagos

                city                      state  distance_from_lagos (km)
168             Kano                       Kano                833.050098
196            Abuja  Federal Capital Territory                536.513245
216           Ibadan                        Oyo                119.595830
384             Awka                    Anambra                408.504658
433    Port Harcourt                     Rivers                442.691454
...              ...                        ...                       ...
43560           Orlu                        Imo                410.689939
47929      Abakaliki                     Ebonyi                523.443284
47930        Yenagoa                    Bayelsa                361.365643
47931          Gombe                      Gombe                956.559116
47932      Isemi-Ile                        Oyo                169.082752

[133 rows x 3 columns]

In [49]:
# sorted in from nearest to farthest city from Lagos

sorted_cities_distance_from_lagos = cities_distance_from_lagos.sort_values(by = 'distance_from_lagos (km)')
sorted_cities_distance_from_lagos

           city    state  distance_from_lagos (km)
3045      Apapa    Lagos                  2.002620
797      Mushin    Lagos                  9.444898
1227     Somolu    Lagos                  9.494687
872       Ikeja    Lagos                 16.472919
1070      Agege    Lagos                 19.551129
...         ...      ...                       ...
4849       Mubi  Adamawa               1167.068663
625   Maiduguri    Borno               1227.426348
1811      Gwoza    Borno               1244.045903
5236       Bama    Borno               1263.144573
3220     Kukawa    Borno               1325.903340

[133 rows x 3 columns]

In [52]:
# output directory

output_dir = 'result'
output_filename = 'cities_distance_from_lagos.csv'
output_path = os.path.join(output_dir, output_filename)

In [53]:
# write to file

sorted_cities_distance_from_lagos.to_csv(output_path, index = False)